body{
    font-family: 'Times New Roman', Times, serif;
}

h1{
    background-color: lightblue;
    text-align: center;
    font-weight: bolder;
}

img,h1 {
    border-style: outset;
    border-color: black;
    border-width: 4px;
}

img{
    width: 250px;    
}


li a{
    font-size: 22px;
    text-align: right;
}

div.homepage-card{
    width: 600px;
    height: 600px;
}


li.recipe-list {
    color: red;
    display: inline;
    padding: 10px 30px;
    border: 4px solid black;
    background-color: lightgray;
}

.description{  
    text-align: center;

}
